.product_full_container {
    width  : 250px;
    border : 1px solid #ddd;
    padding: 24px;

    &>div {
        margin-bottom: 20px;

    }

    &>:last-child {
        margin-bottom: 0;
    }



    .product_image_full {
        height    : 150px;
        text-align: center;

        img {
            width: 150px;
        }
    }

    .product_details {
        text-align: center;

        button {
            background-color: #FF4200;
            border          : none;
            border-radius   : 20px;
            color           : white;
            padding         : 8px 24px;
            cursor          : pointer;
        }
    }

    .product_price {
        &>div {
            margin-bottom: 4px;
        }

        .promo_price {
            font-weight: bold;
            color      : #EA2F2F;
            font-size  : 24px;
        }

        .price_original {
            display    : flex;
            gap        : 12px;
            align-items: center;

            .original {
                text-decoration: line-through;
                color          : rgba(0, 0, 0, .26);
            }

            .discount {
                width           : fit-content;
                padding         : 4px 8px;
                color           : rgb(238, 77, 45);
                background-color: rgb(254, 238, 234);
            }
        }
    }

    .product_shop_count {

        color: #9d9d9d;

        a {

            display    : flex;
            align-items: center;

            #shop_icon {
                margin-right: 12px;

                img {
                    width: 20px;
                }
            }
        }
    }
}