.product_container {
    width  : 250px;
    border : 1px solid #ddd;
    padding: 24px;

    >div {
        margin-bottom: 20px;
    }

    .product_image_full {
        height    : 150px;
        text-align: center;
        
        img{
            width: 200px;
        }
    }

    .product_details {
        text-align: center;

        button {
            background-color: #FF4200;
            border          : none;
            border-radius   : 20px;
            color           : white;
            padding         : 8px 24px;
            cursor          : pointer;
        }
    }

    .product_price {
        font-weight: bold;
        color      : #EA2F2F;

        span {
            font-size: 24px;
        }
    }

    .product_shop_count {
        #shop_icon {
            margin-right: 12px;
        }

        #shop_count {
            font-weight: bold;
            color      : #EA2F2F;
            font-size  : 18px;
        }
    }
}