.header_container {
    width  : 100%;
    height : 64px;
    display: flex;
    gap    : 64px;
    padding: 12px 0;

    >div {
        height: inherit;
    }

    .logo_container {
        width          : 10%;
        margin-left    : 64px;
        display        : flex;
        align-items    : center;
        justify-content: center;

        img{
            width: 64px;
        }
    }

    .search_bar_container {
        background-color: white;
        width           : 60%;
        border-radius   : 20px;
        border          : 2px solid #000;
        display         : flex;
        align-items     : center;
        flex-wrap       : nowrap;
        gap             : 9px;

        input {
            margin-left: 24px;
            width      : 100%;
            border     : none;
            padding    : 12px 0;
            outline    : none;
        }

        button {
            background: none;
            border    : none;
            padding   : 16px 24px 16px 0;
            cursor    : pointer;
        }


    }

    .account_container {
        width: 30%;
        display    : flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        i {
            margin-right: 8px;
        }
    }
}