.sidebar_container {
    width: 15%;

    padding: 0 24px 24px 24px;

    .sidebar_header {
        font-weight: bold;
        padding    : 24px 0;
        font-size  : 24px;
    }

    .sidebar_item {
        margin-top: 12px;
        display   : flex;
        flex-wrap : nowrap;
        gap       : 12px
    }


}