.sidebar_container {
    

    .sidebar_header {
        font-weight: bold;
        padding-bottom: 24px;
        font-size  : 24px;
    }

    .sidebar_item {
        margin-top: 12px;
        display   : flex;
        flex-wrap : nowrap;
        gap       : 12px;
        align-items: center;

        img{
            width: 40px;
        }
    }


}