.login__container{
&>div{
    margin-bottom: 24px;
}

.login__title{
    font-size: 24px;
}

.login__form{

    input{
        padding: 12px;
        margin-bottom: 8px;
        width: 100%;
    }

    button{
        width: 100%;
        padding: 12px;
        background-color: #e76d54;
        color: white;
        border: none;
    }

    .link_field{
        margin: 16px 0;
        font-size: 14px;
        color: blue;
    }
}
.login__alter{
    width: 100%;
    &>button{
        width: 100%;
        padding: 12px;
        background: none;
        margin-bottom: 8px;
        border: 2px solid #ddd
    }
}
}