.productPage__container {
    display: flex;
    gap    : 32px;

    .productPage__sidebar {
        width: 50%;
    }

    .productPage__content {
        &>div {
            padding: 12px 0;
        }

        .productPage__header {
            display: flex;
            gap    : 24px;


            .imageSingle {
                width  : 300px;
                height : 300px;
                padding: 10px;
                border : 1px solid #ddd;


                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: contain;

                }
            }

            .info {

                &>div {
                    margin-bottom: 16px;
                }

                .name {
                    font-size  : 24px;
                    font-weight: bold;
                }

                .price {
                    &>div {
                        margin-bottom: 4px;
                    }

                    .promo_price {
                        font-weight: bold;
                        color      : #EA2F2F;
                        font-size  : 24px;
                    }

                    .price_original {
                        display    : flex;
                        gap        : 12px;
                        align-items: center;

                        .original {
                            text-decoration: line-through;
                            color          : rgba(0, 0, 0, .26);
                        }

                        .discount {
                            width           : fit-content;
                            padding         : 4px 8px;
                            color           : rgb(238, 77, 45);
                            background-color: rgb(254, 238, 234);
                        }
                    }
                }

                .link {
                    margin-top: 32px;
                }
            }
        }

        .productPage__price {
            .filter {
                display    : flex;
                padding    : 8px 0;
                align-items: center;

                .count {
                    font-weight: bold;
                }

                .filter_container {
                    margin-left: auto;

                    &>select {
                        padding: 4px;
                        border : none;
                    }

                }
            }

            .productList {
                &>div {
                    width        : 100%;
                    margin-bottom: 8px;
                    border-bottom: 1px solid #ddd;
                }
            }
        }

        .productPage__info {
            &>div {
                padding: 12px 0;

                &>div {
                    margin-bottom: 12px;
                }

                .header {
                    font-size  : 20px;
                    font-weight: bold;
                }
            }

        }
    }


}